<div class="thing-we-do-bg py-6">
  <div class="row">
    <div class="col-lg-7 offset-lg-5 bg-pink py-6 pe-5 d-flex flex-row-reverse">
      <div class="fixed-width-560px text-end ms-auto">
        <h2 class="fw-bold text-dark-blue fs50 mb-5">
          We Deliver 
          <br/>
          Digital Productivity
        </h2>
        <p class="fs24 text-white mb-0">
          We craft technology solutions that digitally bond and
          transform the productivity of our customers and their citizens, workers, consumers and partners.
        </p>
      </div>
      <div class="position-relative">
        <div class="position-absolute position-1">
          <img src="assets/images/home/things-we-do/carftymind-lg.png" 
            alt="carfty mind" 
            width="232" 
            height="232"
            loading="lazy" 
            class="object-fit-cover d-inline-block"
          />
        </div>
        <div class="position-absolute position-2">
          <img src="assets/images/home/things-we-do/services-lg.png" 
            alt="services" 
            width="232" 
            height="232"
            loading="lazy" 
            class="object-fit-cover d-inline-block"
          />
        </div>
        <div class="position-absolute position-3">
          <img src="assets/images/home/things-we-do/enovision-lg.png" 
            alt="enovision" 
            width="232" 
            height="232"
            loading="lazy" 
            class="object-fit-cover d-inline-block"
          />
        </div>
        <div class="position-absolute position-4">
          <img src="assets/images/home/things-we-do/dynamic365-lg.png" 
            alt="dynamic365" 
            width="232" 
            height="232"
            loading="lazy" 
            class="object-fit-cover d-inline-block"
          />
        </div>
        <div class="position-absolute position-5">
          <img src="assets/images/home/things-we-do/transformation-lg.png" 
            alt="transformation" 
            width="232" 
            height="232"
            loading="lazy" 
            class="object-fit-cover d-inline-block"
          />
        </div>
      </div>
    </div>
  </div>
</div>