<div class="container">
  <div class="row">
    <div class="col-lg-7 my-5">
      <p class="text-uppercase text-pink fs20 fw-bold pt-6">
        Marking
      </p>
      <h1 class="fs68 fw-bold text-navy mb-4">
        25 Years of Business Growth
      </h1>
      <p class="text-dark-electric-blue fs16 mb-4">
        Link Development, the global technology
        solutions provider and an A15 company, unveiled today that it has recently marked its Silver Jubilee
        anniversary. 
      </p>
      <div class="d-flex align-items-center mb-3">
        <button
          class="btn bg-orange text-white p-4 me-4">
          Find out more
        </button>
        <div class="d-flex align-items-center">
          <button class="btn bg-red text-white btn-play rounded-circle">
            <img
              src="/assets/icons/play-icon.svg" 
              alt="play icon" 
              width="" 
              height="" 
              loading="lazy"
            />
          </button>
          <div class="fs17 text-dark-electric-blue ms-3"> 
            Play Demo 
          </div>
        </div>
      </div>
      <div>
        <img 
          src="/assets/images/home/hero-nav.svg" 
          alt="hero nav" 
          width="" 
          height=""
          loading="lazy"
        />
      </div>
    </div>
    <div class="col-lg-5 position-relative">
      <div class="position-absolute hero-img">
        <img 
          src="/assets/images/home/traveller-lg.png"
          height="666" 
          width="667" 
          alt="traveller (hero)" 
          loading="lazy"
          class="object-fit-contain d-inline-block"
        />
      </div>
    </div>
  </div>
</div>
<div class="position-absolute decore spin">
  <img 
    src="/assets/images/home/decore.svg" 
    alt="decore"
    loading="lazy" 
    class="object-fit-contain d-inline-block"
  />
</div>