.bg-pink {
  background: var(--pink) !important;
}

.bg-orange {
  background: var(--orange) !important;
}

.bg-red {
  background: var(--red) !important;
}

.bg-cyan {
  background: var(--cyan) !important;
}

.bg-platinum {
  background: var(--platinum) !important;
}