.text-navy {
  color: var(--navy) !important;
}

.text-dark-blue {
  color: var(--dark-blue) !important;
}

.text-dark-electric-blue {
  color: var(--dark-electric-blue) !important;
}

.text-pink {
  color: var(--pink) !important;
}

.text-dark-cerulean {
  color: var(--dark-cerulean) !important;
}

.text-dark-silver {
  color: var(--dark-silver) !important;
}