.hero-img {
  right: -3rem;
  top: 0;
}

.btn-play {
  aspect-ratio: 52/52;
}

.decore {
  top: -50%;
  right: -25%;
  z-index: -1;
}

.hero-indicators [data-bs-target] {
  aspect-ratio: 36/36;
  width: 36px;
  height: 36px;
  opacity: 1;

  &.active {
    width: 44px;
    height: 44px;
  }
}

.hero-indicators-decore {
  opacity: 1;
  z-index: -1;
  bottom: 0.75rem;

  &:after {
    content:".......................................................................";
    color: black;
    letter-spacing: 1.25rem;
    font-size: 1.5rem;
  }
}