<div class="thing-we-do-bg pt-5 py-sm-6">
  <div class="row">
    <div class="col-lg-7 offset-lg-5 bg-pink py-5 py-sm-6 pe-lg-5 d-flex flex-row-reverse">
      <div class="fixed-width-lg-560px text-start text-lg-end px-3 px-lg-0 ms-lg-auto">
        <h2 class="fw-bold text-dark-blue fs-2 mb-5">
          We Deliver 
          <br/>
          Digital Productivity
        </h2>
        <p class="fs-5 text-white mb-0">
          We craft technology solutions that digitally bond and
          transform the productivity of our customers and their citizens, workers, consumers and partners.
        </p>
      </div>
      <div class="position-relative d-none d-lg-block">
        <ng-container *ngFor="let item of services">
          <app-service-card-item
            [service]="item"
          />
        </ng-container>
      </div>
    </div>
    <div class="col-12 d-lg-none d-block">
      <div class="row me-0 p-3">
        <ng-container *ngFor="let item of services">
          <app-service-card-item
            class="col-6 pe-0 mb-3"
            [service]="item"
          />
        </ng-container>
      </div>
    </div>
  </div>
</div>