.thing-we-do-bg {
  background-image: url('/assets/images/home/things-we-do-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  .fixed-width-md-560px {
    width: 560px;
  }
}