<div class="thing-we-do-bg py-6">
  <div class="row">
    <div class="col-lg-7 offset-lg-5 bg-pink py-6 pe-5 d-flex flex-row-reverse">
      <div class="fixed-width-560px text-end ms-auto">
        <h2 class="fw-bold text-dark-blue fs50 mb-5">
          We Deliver 
          <br/>
          Digital Productivity
        </h2>
        <p class="fs24 text-white mb-0">
          We craft technology solutions that digitally bond and
          transform the productivity of our customers and their citizens, workers, consumers and partners.
        </p>
      </div>
      <div class="position-relative">
        <ng-container *ngFor="let item of services">
          <app-service-card-item
            [service]="item"
          />
        </ng-container>
      </div>
    </div>
  </div>
</div>