<footer>
  <nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container">
      <!-- logo section -->
      <div class="col-md-3 mb-4">
        <div class="mb-4">
          <a class="navbar-brand" routerLink="/home">
            <img
              src="/assets/images/logo-2023-11-17/link-logo.svg"
              class="object-fit-contain d-inline-block "
              height="60"
              width="157"
              alt="Link Logo"
              loading="lazy"
            />
          </a>
        </div>
        <p class="mb-0 text-dark-electric-blue fs13">
          We make technology produce productive, adaptable and sustainable business experiences.
        </p>
      </div>
      
      <!-- menus section -->
      <div class="col-md-6 d-flex justify-content-evenly mb-4">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="nav-link text-dark fw-bold fs21" href="#">Company</span>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-electric-blue fs18" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-electric-blue fs18" href="#">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-electric-blue fs18" href="#">Mobile</a>
          </li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="nav-link text-dark fw-bold fs21" href="#">Contact</span>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-electric-blue fs18" href="#">Help/FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-electric-blue fs18" href="#">Press</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-electric-blue fs18" href="#">Affilates</a>
          </li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="nav-link text-dark fw-bold fs21" href="#">Media</span>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-electric-blue fs18" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-electric-blue fs18" href="#">Photo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-electric-blue fs18" href="#">Video</a>
          </li>
        </ul>
      </div>

      <!-- socail media section -->
      <div class="col-md-3 mb-4">
        <div class="d-inline-block mx-auto">
          <div class="d-flex mb-4">
            <div class="shadow bg-white text-dark rounded-circle footer-social-media-icon d-flex justify-content-center align-items-center">
              <img
                src="/assets/icons/social-media/facebook.svg"
                class=""
                alt="facebook icon"
                width=""
                height=""
                loading="lazy"
              />
            </div>
            <div class="shadow bg-white text-dark rounded-circle footer-social-media-icon d-flex justify-content-center align-items-center mx-3">
              <img
                src="/assets/icons/social-media/instagram.svg"
                class=""
                alt="instagram icon"
                width=""
                height=""
                loading="lazy"
              />
            </div>
            <div class="shadow bg-white text-dark rounded-circle footer-social-media-icon d-flex justify-content-center align-items-center">
              <img
                src="/assets/icons/social-media/twitter.svg"
                class=""
                alt="twitter icon"
                width=""
                height=""
                loading="lazy"
              />
            </div>
          </div>
          <p class="text-dark-electric-blue fs20">Discover our app</p>
          <div>
            <img
              src="/assets/images/home/google-play.svg"
              class="d-inline-block object-fit-contain me-2"
              alt="google play"
              width=""
              height=""
              loading="lazy"
            />
            <img
              src="/assets/images/home/play-store.svg"
              class="d-inline-block object-fit-contain"
              alt="play store"
              width=""
              height=""
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div>
    <p class="text-center text-dark-electric-blue fs14 pb-4 mb-0">
      {{'All rights reserved@Linkdevelopment.com'}}
    </p>
  </div>
</footer>