<div class="container text-center py-5" *ngIf="news && news.length > 0">
  <p class="fs18 text-dark-electric-blue fw600">Media</p>
  <h4 class="text-navy fw-bold fs50 mb-4">Top News</h4>
  <ul id="pills-tab" role="tablist" class="nav nav-pills justify-content-center mb-4" 
    *ngIf="newsCategories && newsCategories.length > 0">
    <li role="presentation" class="nav-item mx-3 mb-4">
      <button 
        data-bs-toggle="pill" 
        data-bs-target="#pills-all" 
        type="button" 
        role="tab" 
        aria-controls="pills-all"
        [attr.aria-selected]="activeCategory === -1" 
        [ngClass]="{
          'bg-cyan text-white': activeCategory === -1,
          'bg-platinum text-dark-cerulean': activeCategory !== -1,
        }"
        (click)="filterNewsByCategory(-1)"
        class="nav-link">
        All news
      </button>
    </li>
    <ng-container *ngFor="let category of newsCategories">
      <li role="presentation" class="nav-item mx-3 mb-4">
        <button 
          data-bs-toggle="pill" 
          [attr.data-bs-target]="'#pills-' + category.id" 
          type="button" 
          role="tab" 
          [attr.aria-controls]="'pills-' + category.id"
          [attr.aria-selected]="activeCategory === category.id" 
          [ngClass]="{
            'bg-cyan text-white': activeCategory === category.id,
            'bg-platinum text-dark-cerulean': activeCategory !== category.id,
          }"
          (click)="filterNewsByCategory(+category.id)"
          class="nav-link"> 
          {{ category.name }} 
        </button>
      </li>
    </ng-container>
  </ul>
  <div id="pills-tabContent" class="tab-content">
    <div id="pills-all" role="tabpanel" class="tab-pane fade"
      [ngClass]="{'show active': activeCategory === -1}">
      <div class="row">
        <ng-container *ngFor="let item of lastestNews">
          <app-news-card-item 
            class="col-lg-4 col-md-6 mb-4"
            [newsInfo]="item"
            [newsCategories]="newsCategories"
          />
        </ng-container>
      </div>
    </div>
    <ng-container *ngFor="let category of newsCategories">
      <div [id]="'pills-' + category.id" role="tabpanel" class="tab-pane fade"
        [ngClass]="{'show active': activeCategory === category.id}">
        <div class="row">
          <ng-container *ngFor="let item of filteredNews">
            <app-news-card-item 
              class="col-lg-4 col-md-6 mb-4"
              [newsInfo]="item"
              [newsCategories]="newsCategories"
            />
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div>
    <button class="btn bg-orange text-white py-3 px-5"> 
      View All News
    </button>
  </div>
</div>