
<div 
  *ngIf="service" 
  class="position-absolute hover-read-more"
  [ngClass]="'position-' + service.position"
>
  <div class="position-absolute w-100 h-100 p-3 d-flex flex-column justify-content-end opacity-0">
    <a class="">
      <img src="/assets/icons/arrow-right.svg" 
        alt="arrow right" 
        width="" 
        height=""
        loading="lazy" 
        class="object-fit-contain d-inline-block"
      />
      <a class="text-white fs17 ms-2" [href]="" target="_blank">Read more</a>
    </a>
  </div>
  <img 
    [src]="service.urlToImage" 
    [alt]="service.title" 
    width="232" 
    height="232"
    loading="lazy" 
    class="object-fit-cover d-inline-block"
  />
</div>
