:root {
  --dark-blue: #253776;
  --navy: #181E4B;
  --pink: #F215B6;
  --dark-electric-blue: #5E6282;
  --orange: #FF7C16;
  --red: #E72228;
  --cyan: #0ECEFF;
  --dark-cerulean: #0F526E;
  --dark-silver: #707070;
  --platinum: #E3E3E3;
  --base-font-size: 14px;
}

@media screen and (min-width: 576px) {
  :root {
    --base-font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  :root {
    --base-font-size: 18px;
  }
}